/**
 * @Author: 毛毛
 * @Date: 2023-01-17 13:51:34
 * @Last Modified by: 毛毛
 * @Last Modified time: 2023-01-17 14:28:08
 */
.editor-canvas-container {
  background-color: #bfa;
  padding: 10px;
  &-canvas {
    overflow: auto;
    height: calc(100vh - 50px);
    &__content {
      margin: 20px auto;
    }
  }
}
